<head class="container">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Tasks || Page</title>
    <style>
      .container{
        width: 90%;
        margin: auto;
       }
       nav{
        display: flex;
        justify-content: space-between;
       }
       a{
        text-decoration: none;
       }
       li{
        list-style: none;
       }
       ul{
        display: flex;
        gap: 2rem;
       }
       /* form style */
       form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid blue;
        margin: 0 20rem 0 20rem;
        padding: 5rem 0 5rem 0;
       }

       form button{
        background-color: blue;
        color: white;
        width:30% ;
        height: 30px;
        font-size: 1rem;
        margin-top: 5rem;
       }

       input{
        width: 50%;
        padding: 1rem;
       }

       label{
        justify-content: start;
       }
    </style>
</head>