<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/header.ejs') %>
<body>
    <%- include('./Partials/nav.ejs') %>


    <main class="container">
       <form action="">
        <label for="name">Name:</label>
        <input type="text" id="name" class="w">
        <label for="title">Titlt</label>
        <input type="text" id="title" class="w">
        <label for="task">Task</label>
        <input type="text" id="task" class="w">
        <button>Submit</button>
       </form>
    </main>

    <%- include('./Partials/footer.ejs') %>
</body>
</html>