<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/header.ejs') %>
<body>
    <%- include('./Partials/nav.ejs') %>


    <main class="container">
       <form action="/api/v1/create" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"  class="w">
        <label for="title">Titlt</label>
        <input type="text" id="title" name="title"  class="w">
        <label for="task">Task</label>
        <input type="text" id="task" name="task"  class="w">
        <button>Submit</button>
       </form>
    </main>

    <%- include('./Partials/footer.ejs') %>
</body>
</html>